:host {
  display: block;
  width: 100%;
  height: 100%;
  background-color: gainsboro;
}

.register-wrapper {
  background-color: white;
  -webkit-box-shadow: -1px 2px 17px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 2px 17px -1px rgba(0,0,0,0.75);
  box-shadow: -1px 2px 17px -1px rgba(0,0,0,0.75);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 20px;
}

.register-wrapper img {
  max-width: 200px;
  max-height: 200px;
}
