<div class="auth-wrapper">
  <form autocomplete="off">
    <div class="text-center">
      <img src="assets/images/bim-logo.png" />
    </div>
    <div class="form-group">
      <label>Email:</label>
      <input type="email" class="form-control" name="email" [(ngModel)]="email">
    </div>
    <div class="form-group">
      <label>Password:</label>
      <input type="password" name="password" [(ngModel)]="password" class="form-control" autocomplete="new-password">
    </div>
    <div class="form-group">
      <label>Confirm password :</label>
      <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" class="form-control" autocomplete="new-password">
    </div>
    <a [routerLink]="['/login']" class="pull-left">Log in</a>
    <button class="btn btn-primary pull-right" (click)="register()">
      <i class="fa fa-register"></i> Register
    </button>
  </form>
</div>
